<footer>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="container">

					<div class="row">
						<div class="col-md-4">
							<p></p>
							<p></p>
							<h3>Sobre nós</h3>
							<p>She packed her seven versalia, put her initial into the belt and made herself on the way. 	When 		she reached the first hills of the Italic Mountains.</p>
						</div>

						<div class="col-md-3 col-md-push-1">
							<p></p>
							<p></p>
							<h3>Links</h3>
							<ul>
								<li><a href="{% url 'home' %}">Home</a></li>
								<li><a href="/blog">Blog</a></li>
								<li><a href="{% url 'about' %}">Serviços</a></li>
								
								<li><a href="{% url 'contact' %}">Contato</a></li>
							</ul>
						</div>

						<div class="col-md-3 col-md-push-1">
							<p></p>
							<p></p>
							<h3>Siga nas redes</h3>
							<ul class="fh5co-social">
								<li><a href="https://twitter.com/"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
								<li><a href="https://www.facebook.com/"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
							</ul>
						</div>
	
					<div class="row">
						<div class="col-md-12 fh5co-copyright text-center">
							<p><small>&copy; 2016 Free HTML5 Simple. All Rights Reserved. </small> <small>Made with care by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Images: <a href="https://www.pexels.com" target="_blank">pexels</a></small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>