{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<h2>Start A Project With Us Now!</h2>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
				
			</div>
			<div class=col-md-6>
				<h1>{{ object.title }} - Delete</h1>
				<p>{{ object.content }}</p>
				<form method="POST">
					{% csrf_token %}
					<h2>Você têm certeza de que quer apagar esta postagem ?</h2>
					<p></p>
					<input type="submit" value="Yes">
					<a href="/">Cancel</a>
				</form>
			</div>

			<div class="col-md-6">
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				<p><a href="{% url 'blog-new' %}" class="btn btn-primary">Nova análise</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}