{% load static %}

<div class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 fh5co-staff">
				<img src="{% static 'images/person3.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
				<h3>Athan artertewr Smith</h3>
				<h4>Co-Founder, CEO</h4>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				<ul class="fh5co-social">
					<li><a href="#"><i class="icon-google"></i></a></li>
					<li><a href="#"><i class="icon-dribbble"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>
			<div class="col-md-4 fh5co-staff">
				<img src="{% static 'images/person2.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
				<h3>Nathalie Kosley</h3>
				<h4>Co-Founder, CTO</h4>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				<ul class="fh5co-social">
					<li><a href="#"><i class="icon-google"></i></a></li>
					<li><a href="#"><i class="icon-dribbble"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>
			<div class="col-md-4 fh5co-staff">
				<img src="{% static 'images/person4.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
				<h3>Yanna Kuzuki</h3>
				<h4>Co-Founder, Principal</h4>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				<ul class="fh5co-social">
					<li><a href="#"><i class="icon-google"></i></a></li>
					<li><a href="#"><i class="icon-dribbble"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
